p, a {
font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 12pt;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: 
black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
  color: black;
}

.under {
	text-decoration: underline;
	color: black;

}

.pdf {
    
    height: 90vh;
    width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grey {
color: gray;
	}











