.flexbox-container{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-grow: 1;
}

.flexbox-item {
	width: 325px;
	height: 325px;
	margin:10px;
	border: 3px solid black;
	border: 3px solid white;
}

.flexbox-item:hover {
	border: 3px solid black;
}

.flexbox-item-1 {
	min-height: 100px;

}

.flexbox-item-2 {
	min-height: 200px;
}

.flexbox-item-3 {
	min-height: 300px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 12pt;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: 
black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
}

.under {
	text-decoration: underline;
	color: black;

}

img {
    max-width: 100%;
    max-height: 100%;
}